<nz-page-header class="site-page-header" nzTitle="BIENVENIDO" nzSubtitle="TUL">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        
        <div (click)="logout()" style="cursor: pointer;" title="Salir">
            <i nz-icon nzType="poweroff" nzTheme="outline"></i>
        </div>

      </nz-breadcrumb-item>
      
    </nz-breadcrumb>
  </nz-page-header>

<nz-layout class="layout">

    <nz-content>
        
        <router-outlet></router-outlet>

    </nz-content>

</nz-layout>